In [1]:
import pandas as pd
from datetime import datetime
import sqlite3

In [2]:
conn = sqlite3.connect("COVID19.db")

In [3]:
df = pd.read_sql_query("select * from covid19;", conn)

In [4]:
cols = ["Province_State","Confirmed","Deaths","Incident_Rate"]

In [5]:
cur = conn.cursor()

In [6]:
df = pd.read_sql_query("select * from covid19;", conn)

In [7]:
transformed = df[cols]

In [8]:
transformed

      Province_State  Confirmed  Deaths  Incident_Rate
0     South Carolina         10       0      40.771395
1          Louisiana        110       6     177.290676
2           Virginia         28       0      86.644387
3              Idaho        593       9     123.134553
4               Iowa          1       0      13.982103
...              ...        ...     ...            ...
2775          Alaska          1       0      19.120459
2776         Arizona         28       1      13.097148
2777        Colorado          2       0      19.962072
2778           Texas          6       0      42.316101
2779           Texas          1       0       8.445946

[2780 rows x 4 columns]

In [9]:
transformed.to_csv("transformed.csv")

In [10]:
ls

COVID19.db             Untitled1.ipynb        new_data_from_sql.csv
Californiamap.html     app.js                 package-lock.json*
Coivd19California.csv  config.js              package.json*
Incidentrate.html      data.csv               settings.json
LICENSE*               gulpfile.js*           static/
README.md*             index.html*            style.css
Untitled.ipynb         logic.js               transformed.csv
Untitled1-Copy1.ipynb  map.html*              vendor/